/**
*GENERAL STYLES
**/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{color: #484848; font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 28px; font-weight: 400;}
ul{list-style-type: none;}

.text-center{text-align: center;}

.flex{

}
@media (max-width: 991px) {
  .flex{display: block;}
}

.no-padding{padding: 0; margin: 0;}
