/**
*GRID
**/
.container {
  width: 1280px;
  margin: 0 auto;
}

.container .cols {
  position: relative;
  float: left;
  margin: 0;
  padding: 0 15px;
  min-height: 1px;
}

.container .cols.col-1 {width: 8.33%;}
.container .cols.col-2 {width: 16.66%;}
.container .cols.col-3 {width: 25%;}
.container .cols.col-4 {width: 33.33%;}
.container .cols.col-5 {width: 41.66%;}
.container .cols.col-6 {width: 50%;}
.container .cols.col-7 {width: 58.33%;}
.container .cols.col-8 {width: 66.66%;}
.container .cols.col-9 {width: 75%}
.container .cols.col-10 {width: 83.33%;}
.container .cols.col-11 {width: 91.66%;}
.container .cols.col-12 {width: 100%;}

@media (max-width: 991px) {
  .container{width: 100%;}
  .container .cols.col-1,
  .container .cols.col-2,
  .container .cols.col-3,
  .container .cols.col-4,
  .container .cols.col-5,
  .container .cols.col-6,
  .container .cols.col-7,
  .container .cols.col-8,
  .container .cols.col-9,
  .container .cols.col-10,
  .container .cols.col-11,
  .container .cols.col-12 {width: 100%;}
}

.container:before,
.container:after,
.row:before,
.row:after,
.clear:before,
.clear:after {
  content: " ";
  display: table;
}
.container:after,
.row:after,
.clear:after {
  clear: both;
}