@mixin easy-out($time){
  -moz-transition:all $time ease-out;
  -o-transition:all $time ease-out;
  -webkit-transition:all $time ease-out;
  -ms-transition:all $time ease-out;
  transition:all $time ease-out;
}
@mixin easy-out-param($param, $time){
  -moz-transition:$param $time ease-out;
  -o-transition:$param $time ease-out;
  -webkit-transition:$param $time ease-out;
  -ms-transition:all $param ease-out;
  transition:all $param ease-out;
}
@mixin rotate($d){
  -ms-transform: rotate($d); /* IE 9 */
  -webkit-transform: rotate($d); /* Chrome, Safari, Opera */
  transform: rotate($d);
}
@mixin bg-center{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size:cover;
}

@mixin flex-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-c {
  display: flex;
  align-items: center;
}